@model MvcApiExamenLuisEnrique.Models.Personaje

@{
    ViewData["Title"] = "DetailsPersonaje";
}

<h1>DetailsPersonaje</h1>

<div>
    <h4>Personaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePersonaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePersonaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Imagen" style="width:150px;height:150px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSerie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
